@use "variables";
@use "button";
@use "mixins";
@use "custom";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: variables.$primary-color;
    padding: variables.$spacing-md;
    margin-bottom: variables.$spacing-md;
    ul {
        list-style-type: none;
        display: flex;
        li {
            margin-right: variables.$spacing-md;
            a {
                color: white;
            }
        }
    }
}

main {
    margin: variables.$spacing-md;
}

header {
    @include mixins.center-flex;
}

.message {
    padding: variables.$spacing-md;
    border-radius: 6px;
}

.success {
    @extend .message;
    color: variables.$success-color;
}

.card {
    width: 33%;
    padding: variables.$base * 6;
    margin: variables.$base * 3;
    box-shadow: 3px 3px 8px;
    border-radius: 6px;

    img {
        width: 100%;
    }
}